# Node
node_modules/
.npm/
.pnpm-store/

# Vite / SvelteKit
.build/
.svelte-kit/
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env
.env
.env.*

# OS
Thumbs.db
